#map {
	width: 20vw;
	height: 100vh;
	position: fixed;
}

body {
	margin:0;


}

.forms {
	padding-left: 20px;
	width: 40vw;
	position: absolute;
	right: 0;
	top: 0;
	min-height: 100vh;
	background: rgba(200, 200, 200, .8);
	bottom: 1px solid red;
	color: white;
	font-family: Quicksand;
}

input, select, option {
	background: transparent;
	border: 1px solid white;
	margin: 10px;
}