/*-------------------------RESET-------------------------*/
body {
	margin:0;
	line-height: 140%;
	overflow-x:hidden;
  font-family: Quicksand;
}

* {
  box-sizing: border-box;
}

ul {
  padding:0;
  margin:0;
}

li {
  list-style: none;
}

a {
    color: #2098D1;
    text-decoration: none;
}

input, select, option {
  background: transparent;
  border: none;
  margin: 0px;
  height: 65px;
  width: 65px;
  padding: 0;
  line-height: 50px;
  appearance:none;
  -webkit-appearance: none
}
/*------------------------------------------------------------------------------*/

#map {
	width: 100vw;
	height: 100vh;
	position: fixed !important; /*to overwrite javascript styling on googlemaps*/
}

/*-------------------------MENU ITEMS-------------------------*/
.menuContainer {
  padding-left: 20px;
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  background: rgba(11, 11, 1, .6);
}

.mainMenuOption{
  cursor: pointer;
  background: #888;
  color: #000;
  margin: .4em;
  padding: .5em;
}

.subMenuOption{
  cursor: pointer;
  background: #fff;
  color: #333;
  margin: .4em;
  padding: .5em;
}

#getCode {
  background: #087F6A;
  color: #fff;
}

/*--------------------RECOLOR VERTICALLY FROM CENTER MENU ITEMS ON HOVER--------------------*/
.recolorOnHover {
  width:280px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.recolorOnHover:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #087F6A;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.recolorOnHover:hover, .recolorOnHover:focus, .recolorOnHover:active {
  color: white;
}
.recolorOnHover:hover:before, .recolorOnHover:focus:before, .recolorOnHover:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/*--------------------OPEN/CLOSE MENU ITEMS--------------------*/
.expand {
	display: inline-block;
}

.collapse {
	display: none!important;
}

/*-------------------------CUSTOMIZATION PANEL-------------------------*/
.customizationPanelContainer {
  color:#fff;
	transition: height 300s;
}

.customizationPanel {
  background: #25323B;
  border: none;
}

.customizationPanelHeader {
  background: white;
  border: none;
  padding: 10px;
  color: #25323B;
  width: 200px;
}

.container {
  display: inline-block;
  margin-top: 16px;
  margin-right: 26px;
}

label {
  cursor: pointer;
}

.container label{
  line-height: 31px;
  width: 31px;
  height: 31px;
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  border-radius: 60%;
}

.color label, .weight label {
  color: transparent;
}

.visibility input, .color input {
  position: absolute;
  left:-2px;
  width: 100%;
  height: 100%;
  margin: auto;
  background: transparent;
  border-radius: 60%;
}

h4 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  margin-top: 30px;
  text-align: right;
}

.container.switchOnOff, .container.color {
  width: 35px;
  height: 35px; 
  border: 2px solid white;
  background: grey;
  position: relative;
  border-radius: 60%;
}

.color input {
  visibility: hidden;
}

.setWeight, .setColor, .setVisibility {
  display: inline-block;
}

/*--------------------VISIBILITY INPUT FLIP--------------------*/
.switchOnOff {
  perspective: 800px;
}
.switchOnOff input+label {
  transform: rotateY( 180deg);
  transition: transform 1s ease;
}

.switchOnOff input:checked+label {
  transform: rotateY( 0deg);
  transition: transform 1s ease;
}

.switchOnOff:hover input+label {
  transform: rotateY( 360deg);
}

.switchOnOff:hover input:checked+label {
  transform: rotateY( 180deg);
}

.switchOnOff .on+label{
  background: #087F6A;
}

.switchOnOff .off+label{
  background: #333;
}

.switchOnOff input{
  display: none;
}

/*--------------------WEIGHT INPUT STYLE--------------------*/
.weight {
  position: relative;
  margin: auto;
  width: 100px;
  height: 35px;
  margin-right: 0;
}

.inputNumberContainer input{
  float: left;
  margin-left: -8px;
  width: 30px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  text-align: center;
  color: #fff;
  border-top: 2px #fff solid;
  border-bottom: 2px #fff solid;
  background: none;
  outline: none;
}

.inputNumberContainer {
  position: absolute;
  height: 40px;
  user-select:           none;
  -ms-user-select:       none;
  -moz-user-select:      none;
  -webkit-user-select:   none;
  -webkit-touch-callout: none;
}

.inputNumberContainer > .sub, .inputNumberContainer > .add {
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  border: 2px #fff solid;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition:         0.1s linear;
  -o-transition:      0.1s linear;
  -ms-transition:     0.1s linear;
  -moz-transition:    0.1s linear;
  -webkit-transition: 0.1s linear;
  border-radius:60% 0 0 60%;
}

.inputNumberContainer > .add {
  top: 0;
  border: 2px #fff solid;
  border-left: transparent;
  border-radius:0 60% 60% 0;
  margin-left: -8px;
}

.inputNumberContainer > .sub:hover, .inputNumberContainer > .add:hover {
  background: #fff;
  color: #25323B;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.basic .container {
  display: block;
  margin: 5px;
  height: 35px;
  
}

.basic .inputNumberContainer{
  margin-left: 100px; /*.basic .marker margin + 60px*/
}

.basic .marker {
  margin-left: 40px; /*.basic .inputNumberContainer margin - 60px*/
}

.basic h4 {
  margin-top: 0;
  position: relative;
  top: -20px;
  margin-left: 5px;
  text-align: left;
  display: inline-block;
}

.basic .container.marker {
  display: inline-block;
}

#codeContainer {
  position: absolute;
  top:110vh;
  left: 0;
  width: 100vw;
  background: rgba(8, 127, 106, .8);/*#087F6A;*/
  padding: 50px;
  padding-top: 10px;
}
#codeContainer h4 {
  text-align: left;
  font-weight: bold;
}

pre {
  background: black;
  color: #087F6A;
  font-weight: 600;
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  width: 460px;

}

#closeCode {
  font-size: 20pt;
  color: ivory;
  padding: 9px;
  text-align: center;
  
  width: 40px;
  border: 1px solid ivory;
  margin: auto;
  cursor: pointer;

}

.codeOut {
  transform: translateY(0vh);
  transition: transform 5s;
}

.codeIn {
  transform: translateY(-110vh);
  transition: transform 5s;
}